.html, .body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100vh;
  
  display: grid;
  grid-template-rows: 500px 1fr;
  grid-template-columns: 400px 2fr;
}

.personal-info {
  background-color: #FAFAFA;
  height: 100vh;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 200px;
}

.projects {
  background-color: #F5B93D;
  height: 100vh;
  min-width: 400px;

}

.sidebar-text {
  color: #4A4A4A;
  font-weight: 900;
  font-size: 32px;
}